.btn{
    font-weight: bold;
    line-height: 1;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    text-decoration: none;
    border: none;

    &--theme--red{
        background: #e01f3d;
        color: #fff;

        &:hover{
            background: #fff;
            color: #e01f3d;
        }
    }
    
    &--theme--vinous{
        background: #ca1b36;
        color: #fff;

        &:hover{
            background: #fff;
            color: #ca1b36;
        }
    }

    &--theme--transparent{
        background: transparent;
        color: #fff;
        text-transform: none;
        font-weight: normal;
        padding: 12px;

        &:hover{
             color: #ca1b36;
        }
    }
}

