.radio{
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 24px;    
    align-items: center;

    &:last-child{
        margin-right: 0;
    }

    &--checkbox{
        .radio__visible{
            border-radius: 4px;

            &::before{
                background: url("../img/icons/tick.png") center center no-repeat;
            }
        }
    }

    &__elem{
        display: none;

        &:checked ~ .radio__visible{
            &::before{
                display: block;
            }
        }
    }

    &__visible{
        width: 25px;
        height: 25px;
        position: relative;
        border-radius: 50%;
        background: #fff;
        margin-right: 10px;
               

        &::before{
            width: 13px;
            height: 13px;
            background: #e01f3d;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: none;
        }
    }
}